{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div class="jumbotron">
            <h1 class="mt-5">Home Page</h1>
            <hr/>
            <a href="{{ url_for('upload') }}" class="btn btn-success">Upload Images</a>
        </div>
    </div>
  </div>
  
  <header>
    <hr/>
    <h3>Results</h3>
    <hr/>
  </header>
  
  <section class="row">
    {% for image in face_images %}
    <div class="col-md-2" style="height: 150px">
      <div class="panel panel-default">
          <div class="panel-body">
              <img style="height: 50px" class="img img-responsive center-block" src="{{ url_for('static', filename='tmp/faces/' + image) }}">
          </div>
          <div class="panel-footer">
              <a href="{{ url_for('static', filename='tmp/faces/' + image) }}">View Image</a>
          </div>
      </div>
    </div>
    {% endfor %}
    </section>
  
    
    <header>
      <hr/>
      <h3>Original Images</h3>
      <hr/>
    </header>
  
    <section class="row">
    {% for image in uploaded_images %}
    <div class="col-md-4" style="height: 250px">
      <div class="panel panel-default">
          <div class="panel-body">
              <img style="height: 150px" class="img img-responsive center-block" src="{{ url_for('static', filename='tmp/uploads/' + image) }}">
          </div>
          <div class="panel-footer">
              <a href="{{ url_for('static', filename='tmp/uploads/' + image) }}">View Image</a>
          </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}

